@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.titulo-1 {
    text-align: center;
    color: rgb(17, 214, 43);
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
}

.paragrafo-1 {

    font-size: 30px;
    color: red;
    font-family: "Permanent Marker", cursive;
}

body {
    background-image: url(balloon-5255326_1280.jpg);
   

}